mkdocs==1.5.3
mkdocs-exclude==1.0.2
mkdocs-glightbox==0.3.7
mkdocs-material==9.5.16
mkdocs-material-extensions==1.3.1
mkdocs-build-plantuml-plugin==1.9.0
mkdocs-render-swagger-plugin==0.1.1
mike==2.0.0
